.movieTextBox{
    
    display: flex;
    gap: 40px;
}
.movieText{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.movieTitle{
        font-size: 40px;
            font-weight: 700;
            text-shadow: 0 0 7px #282f8f;
}

.genresList{
    display: flex;
    gap: 5px;
}
.movieImage {
    width: 400px;
}
.movieRate{
    display: flex;
        flex-direction: column;
        gap: 5px;
}

.textRateTitle {
    color: #8c8c8c;
    font-weight: 600;
}

.movieDetailsBox{
    padding: 40px;
}

.movieAddInfo{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
        gap: 50px;
        font-size: 30px;
        font-weight: 700;
        justify-content: space-around;
        font: italic 700 40px Georgia, Serif;
        text-shadow: 0 0 7px #282f8f;
}

.movieAddInfo a:hover,.movieAddInfo a:focus{
    color: #282f8f;
}